token: WASZ TOKEN PROSZĘ
prefix: "daun "
phrases:
  - "о да мой бог я хочу вылизать вам яйца"
  - "у тебя яйца воняют"
  - "на себя посмотри даун"
  - "нет ты пидорас"
  - "ты пидорас"
  - "к моим соскам присосались белые мальчики, а к твоим????"
  - "яйца гиганта у меня в тарелке"
  - "я клизму тебе в нос засуну"
  - "ААААААААААААААА ЖЕНЩИНА"
  - "привет, я твой папа"
